body{
    background-color: black;
    color: white;
}
.building{
    border:3px grey solid;
    padding: 10px;
    
}
#inf{
    float:left;
    width: 40%;
}
#buildings{
    
    float:right;
}
